[Unit]
Description=YouTube & Direct Link Telegram Bot
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/khodamneveshtam-down-uploud-youtube
ExecStart=/usr/bin/python3 /root/khodamneveshtam-down-uploud-youtube/bot.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
